anyascii==0.3.2
asgiref==3.7.2
beautifulsoup4==4.11.2
certifi==2023.5.7
charset-normalizer==3.1.0
cssselect2==0.7.0
defusedxml==0.7.1
Django==4.0.3
django-classy-tags==4.0.0
django-cms==3.11.3
django-filer==2.2.4
django-filter==22.1
django-formtools==2.4.1
django-jet-reboot==1.3.3
django-js-asset==2.0.0
django-modelcluster==6.0
django-mptt==0.14.0
django-permissionedforms==0.1
django-polymorphic==3.1.0
django-sekizai==4.1.0
django-taggit==3.1.0
django-treebeard==4.7
djangocms-admin-style==3.2.4
djangocms-attributes-field==3.0.0
djangocms-bootstrap5==0.1.0
djangocms-icon==2.0.0
djangocms-link==3.1.1
djangocms-picture==4.0.0
djangocms-text-ckeditor==5.1.2
djangorestframework==3.14.0
draftjs-exporter==2.1.7
easy-thumbnails==2.8.5
et-xmlfile==1.1.0
filetype==1.2.0
html5lib==1.1
idna==3.4
l18n==2021.3
lxml==4.9.2
openpyxl==3.1.2
packaging==23.1
Pillow==9.5.0
pytz==2023.3
reportlab==4.0.4
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
svglib==1.5.1
telepath==0.3.1
tinycss2==1.2.1
tzdata==2023.3
Unidecode==1.1.2
urllib3==2.0.3
wagtail==5.0.1
webencodings==0.5.1
Willow==1.5
